.clearfix {
  &:after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    content: ".";
    line-height: 0;
  }
  * html & { zoom: 1; }  // IE6 hack.
}

.box-sizing (@args) {
  -moz-box-sizing: @args;
  -webkit-box-sizing: @args;
  box-sizing: @args;
}
